<%= render 'shared/errors', obj: archivo %>

<%= form_with(model: archivo, local: true) do |form| %>
  <div class="form-group">
    <b><%= form.label :titulo, 'Título', for:'archivo_titulo' %><b>
    <%= form.text_field :titulo, autofocus: true, class:"form-control", id: :archivo_titulo %>
  </div>

  <div class="form-group">
    <%= form.label :imagenes, 'Imágenes', for:'archivo_imagenes' %>
    <%= form.file_field :imagenes, multiple: true, id: :archivo_imagenes, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion, 'Descripción', for:'archivo_descripcion' %>
    <%= form.text_area :descripcion, class:"form-control", rows:5 , id: :archivo_descripcion %>
  </div>

  <%= form.submit(archivo.new_record? ? "Crear archivo" : "Actualizar datos", class:"btn btn-primary btn-lg") %>

<% end %>
