<%= form_with(model: archivo, local: true) do |form| %>
  <% if archivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(archivo.errors.count, "error") %> prohibited this archivo from being saved:</h2>

      <ul>
      <% archivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <b><%= form.label :titulo, 'Título', for:'archivo_titulo' %><b>
    <%= form.text_field :titulo, autofocus: true, class:"form-control", id: :archivo_titulo %>
  </div>

  <div class="form-group">
    <%= form.label :imagenes, 'Imágenes', for:'archivo_imagenes' %>
    <%= form.file_field :imagenes, multiple: true, id: :archivo_imagenes, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion, 'Descripción', for:'archivo_descripcion' %>
    <%= form.text_area :descripcion, class:"form-control", rows:5 , id: :archivo_descripcion %>
  </div>

  <%= form.submit "Crear archivo o galería", class:"btn btn-primary btn-lg" %>

<% end %>
